* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url(foto/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top bar (logo and arrow) */
header.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Logo */
.logo img {
  width: 200px;
  height: auto;
}

/* Back arrow */
.back img {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin-top: 200px;
  margin-left: 100px;
}

/* Center the form */
.wrapper {
  margin: auto; /* This centers it vertically in a flex column */
  background: #F0E8F8;
  margin-top: 50px;
  padding: 60px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

/* Title */
.wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}

/* Input Boxes */
.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #8EC5FC;
}

.input-box label {
    position: absolute;
    top: -15px;
    left: 5px;
    background-color: transparent;
    padding: 0 5px;
    font-size: 14px;
    color: #666;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    background-color: #7469B6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: #6fa8dc;
}